<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Travel Lad</title>
    <!-- <link rel="stylesheet" href="../styles/styles.scss"> -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar">
            <h1><i class="fas fa-plane"></i>Travelamigo</h1>
            <div class="mylinks">
                <a href="index.html" class="no-underline links">Home</a>
                <a href="http://www.google.com" class="no-underline links">Contact</a>
                <a href="http://www.google.com" class="no-underline links">About</a>
            </div>
        </nav>
    </header>
    <div class="trip-header"><h2>My Trips</h2></div>
    <div class="all-trips">
        <section id="trip1" class="card">
            <div id="city"></div>
            <div class="text-card">
                <h3>Venice</h3>
                <p>Departure Date: 25/7/2020</p>
                <p>Days Left for Trip: 3</p>
                <p><strong>Days to be spent in trip </strong>: 5</p>
                <p>Current Temprature: 25 &#176C</p>
                <input type="submit" value="Remove" id="del1">
            </div>
        </section>
        <section id="trip2" class="card">
            <div id="city"></div>
            <div class="text-card">
                <h3>Venice</h3>
                <p>Departure Date: 25/7/2020</p>
                <p>Days Left for Trip: 3</p>
                <p><strong>Days to be spent in trip </strong>: 5</p>
                <p>Current Temprature: 25 &#176C</p>
                <input type="submit" value="Remove" id="del2">
            </div>
        </section>
    </div>
    <div class="add-trip">
        <div class="entries">
            <div class="ins">
                <div class="mycity">
                    <label for="city">City</label>
                    <input type="text" name="" id="city" placeholder="cairo">
                </div>
                <div class="mydep">
                    <label for="departure">Departure date</label>
                    <input type="date" name="" id="departure" >
                </div>
                <div class="myend">
                    <label for="end">End date</label>
                    <input type="date" name="" id="end">
                </div>
            </div>
            <input type="submit" value="Add Trip" id="add-a-trip">
        </div>
        <div id="errors"></div>
    </div>

</body>
</html>