@media(min-width: 700px)  { 
    .navbar {
        display: flex;
        flex-direction: row;
        /* margin-bottom: 20px; */
        justify-content: space-around;
        align-items: center;
    }
    
    .mylinks {
        display: flex
    }

    .ins {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .card {
        display: flex;
        flex-direction: row ;
        justify-content: space-around;
        margin: none;
        margin-bottom: 5%;

    }
    //fiding image
    // .city {
    //     width: 60%;
    //     height: 100%;
    //     z-index:22;
        
    // }

    // .city-img {
    //     height: 100%;
    //     width: auto;
    // }
    .city {
        width:75%;
    }
    .mycity , .mydep , .myend{
        display: flex;
        flex-direction: row;
    }
}
// and (max-width: 900px)